<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="O. Kalu">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar ">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Add</a>
            </li>

        </ul>
    </nav>

    <div style="padding-top:1em;" class="container">
        <div>
            <span style="font-size: 2em; color: #32a5e7;">List of Students</span>
            <span style="float:right;">
                <a class="btn btn-outline-success btn-lg" href="/register">Add New Student</a>
            </span>
        </div>



        <form id="searchStudentForm" method="get" action="/search">
            <div style="margin-top:1em;" class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchString" name="searchString" placeholder="Enter a string to search for a Student" th:value="${searchString}" autofocus />
                        <div class="input-group-append">
                            <button id="btnSubmit" type="submit" class="btn btn-outline-success">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div style="font-size: .7em">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"># </th>

                    <th scope="col">studentNumber </th>
                    <th scope="col">FirstName </th>
                    <th scope="col">MiddleName </th>
                    <th scope="col">LastName </th>
                    <th scope="col">cgpa </th>
                    <th scope="col">enrollmentDate </th>
                    <th scope="col">isInternational </th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student,iterStat : ${students}">
                    <!--th:onclick="@{document.location='/elibrary/book/edit/{bookId}'(bookId=${book.bookId})}" -->
                    <th scope="row" th:text="${iterStat.count}"></th>

                    <td th:text="${student.studentNumber}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.middleName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.cgpa}"></td>
                    <td th:text="${student.enrollmentDate}"></td>
                    <td th:text="${student.isInternational}"></td>
                    <td><a th:href="@{'/edit/{studentId}'(studentId=${student.studentId})}">Edit</a></td>
                    <td>
                        <a th:href="@{'../delete/' + ${student.studentId}}">Delete</a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">O. Jablaoui : : : CS425-SWE</span>
            <span style="float:right;" class="text-muted">&copy; March 2019</span>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
